# cache
__pycache__/
*.pyc

# IDE config
.idea/

# git
.gitignore

# local scripts
*.cmd
*.sh
test.py

# models
pretrained_bert_models/
checkpoints/

# data & results
data/
*.utf8
*.txt

# expired logs
experiments/

# docs
/docs/

# others
/obsolete/
